body {
  font-family: "Roboto", sans-serif;
}

.header {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}

.logo-studio {
  width: 71px;
  height: 21px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.menu-nav {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}

.studio {
  font-family: "Roboto", sans-serif;
  width: 48px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 24px 40px 24px 76px;
}

.portfolio {
  width: 66px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 24px 40px 24px 40px;
}

.contacts {
  width: 67px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding: 24px 332px 24px 40px;
}

.email {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.solutions {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: #2e2f42;
}

.solution-one {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 356px 635px 636px 188px;
}
